/** @format */

.add-new-container {
  margin-left: 2vw;
  margin-top: 1vh;
}
.add-image {
  opacity: 0.8;
}
.add-image:hover {
  opacity: 1;
}
.create-file-modal {
  width: 50%;
  margin: auto;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px;
  margin-top: 10vh;
  background-color: rgb(230, 232, 213);
}
.modal-content-container {
  width: 50%;
  margin: 0 auto;
  align-items: center;
}
.modal-close-image-container {
  position: absolute;
  top: 0px;
  right: 0px;
}
.loader-style {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}
.file-cancel-button {
  margin-left: 1vw;
}
.file-name-input {
  border: none;
  border-radius: 5%;
  height: 4vh;
}
