.add-new-container {
    margin-left: 3vw;
}
.add-image {
    opacity: 0.8;
}
.add-image:hover {
    opacity: 1;
}
.create-file-modal {
    width: 50%;
    justify-content: center;
    position: 'absolute';
      margin: auto;
      /* align-items: center; */
      border: '1px solid #ccc';
      background: '#fff';
      overflow: 'auto';
      outline: 'none';
      padding: 20px;
      margin-top: 10vh;
      background-color: rgb(230, 232, 213);
}
.modal-content-container {
    background-color: aqua;
    width: 50%;
    margin: 0 auto;
    
}
.modal-close-image-container{
    /* margin-left: 100px; */
    position: absolute;
    top: 0px;
    right: 0px;
}