.card-container {
    max-width: fit-content;
    text-align: center;
    margin-left: 3vw;
}
.card-container {
    opacity: 0.8;
}
.card-container:hover, .card-container:focus {
    opacity: 1;
}
.folder-file-image{
    height: 7vh;
}